@import '../../styles/variables.scss';

.event-modal {
    opacity: 0;
    width: 300px;
    background-color: $gray200;
    border-radius: 4px;
    border: 1px solid $gray500;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 4;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    overflow: hidden;
    font-size: 14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // color: #0369A1;
    color: $gray600; 

    @media (max-width: 550px){
        left: 50vw;
    }

    @media (max-height: 400px){
        top: 40%;
        max-height: 95vh;
        overflow-y: auto;
        overflow-x: hidden;
    } 

    &__spinner{
        grid-column: 1 / 3;
    }

    &__close {
        height: 20px;
        width: 20px;
        background-color: inherit;
        position: absolute;
        top: -8px;
        right: -8px;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 2px;
            background-color: #000;
            transform: translate(-50%, -50%) rotate(45deg);
            
        }
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 2px;
            background-color: #000;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__time {
        height: 14px;
        position: relative;
        grid-column: 1 / 3;
        font-weight: 700;
    }
    &__hours{
        grid-column: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: end;
        & > select {
            border-radius: 4px;
            width: 80px;
            height: 20px;
            font-size: 14px;
        }
    }

    &__input-text-label {
        font-weight: 700;
        grid-column: 1 / 3;  
        margin-bottom: -7px;
    }


    &__title {
       
        height: 28px;
        grid-column: 1 / 3;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid $gray500;
    }

    &__list{
        grid-column: 1 / 3;
        margin-left: 15px; 
    }
    
    &__list-item{
        &::marker{
            font-weight: 700;
        }
    }   

    &__list-item-input{   
        width: 100% ;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid $gray500;
        
    }
  
    &__textarea {
        resize: none;
        width: 300px;
        height: 125px;
        grid-column: 1 / 3;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid $gray500;
    }
    

    &__reset {
        background-color: #DC2626;
        @media (hover: hover) {
            &:hover {
                background-color: $rose700;
            }
        }
    }


    &__event-title{
        height: 14px;
        grid-column: 1 / 3;
        font-weight: 700;
    }
    &__tasks{
        grid-column: 1 / 3;
        & > li {
            font-weight: 500;
            margin-left: 20px;
            list-style-type: disc;
            overflow-wrap: break-word;
        }
    }

   &_blue{
    background-color: #e7f6fd;
    border-left: 4px solid #0EA5E9;
    color: #0369A1;
   }
   &_red{
    background-color: #ffe4e6;
    border-left: 4px solid #F43F5E;
    color: #BE123C;
   }
   &_green{
    background-color: #e8f8f3;
    border-left: 4px solid #10B981;
    color: #047857;
   }
   &_purple{
    background-color: #f4efff;
    border-left: 4px solid #8B5CF6;
    color: #6D28D9;
   }
   &_orange{
    background-color: #fef6e7;
    border-left: 4px solid #F59E0B;
    color: #B45309;
   }
   

  
  
}
.color-radio {
    
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    gap: 10px;

    & > input {
        display: none;
        &:checked + label:after {
            content:'';
            position: absolute;
            top: -5px;
            left: -5px;
            width: 35px;
            height: 35px;
            border: 3px solid $gray600;
            border-radius: 50%;    
            
        }
    } 

    & > label {  
        cursor: pointer;
        position: relative;  
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;  
        @media (hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }    
    }
    &__red {
        background-color: #F43F5E;    
    }
    &__blue {
        background-color: #0EA5E9;
    }
    &__green {
        background-color: #10B981;
    }
    &__purple {
        background-color: #8B5CF6;
    }
    &__orange {
        background-color: #F59E0B;
    }
}

